@model _20S2_5032_A2_4.Models.clinical

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>clinical</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.patient.f_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient.f_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.doctor.f_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.f_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
